@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-primary: "Be Vietnam Pro", sans-serif;
  --font-secondary: "Alumni Sans", sans-serif;
  --cl-primary: #f26f21;
  --cl-text: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #ffc53d;
  line-height: 1.2;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--cl-text);
  font-size: 16px;
}
.container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
}
input,
button {
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.hidden {
  display: none !important;
}
.sm {
  display: none !important;
}
.md {
  display: block !important;
}
.btn-primary {
  background-color: var(--cl-primary);
  padding: 24px 36px;
  border-radius: 74px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  font-family: var(--font-primary);
}
/* header */
header {
  background-color: #fff;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.header-logo {
  max-width: 152px;
  flex-shrink: 0;
}
.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}
.icon-menu {
  font-size: 20px;
  color: #181e39;
  cursor: pointer;
  display: none;
}
.header-menu {
  display: flex;
  gap: 41px;
  align-items: center;
  justify-content: flex-end;
}

.header-menu li a {
  color: var(--cl-text);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header-menu li a:hover {
  color: var(--cl-primary);
}
.header-btn {
  padding: 14px 36px;
}
/* main */
.banner {
  width: 100%;
  position: relative;
}
.banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.banner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  z-index: 10;
  padding: 76px 0px 42px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.banner-left {
  padding-top: 55px;
}
.banner-wrapper .btn-primary {
  z-index: 10;
  position: relative;
}
.banner-right-bottom {
  margin-top: -40px;
}
.banner-right {
  transform: translateX(-70px);
}
.banner-decor {
  position: absolute;
  left: 0;
  top: 50%;
  mix-blend-mode: color-dodge;
  width: 100%;
  z-index: 0;
}
/* gif-slider */
.gift {
  padding-bottom: 75px;
}
.gift-wrapper {
  position: relative;
  padding: 0px 60px 0px 90px;
  z-index: 10;
}
.gift-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: fill;
}
.gift-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.gift-slider .swiper-slide img {
  max-width: 75%;
  margin: 0px auto;
}
.btn-swiper::after {
  display: none;
}
.btn-swiper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-swiper svg {
  width: 60%;
  fill: #fff;
}
.spin {
  padding: 75px 0px;
  position: relative;
  background-image: url("./images/spin-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.spin h2 {
  text-align: center;
  max-width: 705px;
  margin: 0px auto;
}
.spin-main {
  position: relative;
  max-width: 860px;
  margin: 0px auto 200px;
  display: flex;
  justify-content: center;
}
.spin-main-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.spin-main-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px;
  width: 20%;
  z-index: 20;
  cursor: pointer;
}
.spin-main-img {
  z-index: 10;
  position: relative;
  max-width: 810px;
  width: 100%;
}
.spin-main-img.active {
  animation: spin 4s ease;
  transform: rotate(360deg);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin-main::before,
.spin-main:after {
  content: "";
  position: absolute;
  bottom: -200px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.spin-main::before {
  right: 77%;
  background-image: url("./images/spin-img3.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 400px;
  max-height: 316px;
}
.spin-main::after {
  left: 80%;
  background-image: url("./images/spin-img2.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 344px;
  max-height: 535px;
}
.join {
  padding: 60px 0px;
  background-color: #f7a80b;
}
.join h2 {
  text-align: center;
  max-width: 640px;
  margin: 0px auto 66px;
}
.join-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.join-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.join-list li span {
  font-family: var(--font-secondary);
  background-color: var(--cl-primary);
  font-size: 24px;
  border-radius: 16px;
  font-weight: 700;
  color: #fff;
  min-height: 29px;
  padding: 0px 24px;
}
.join-list li img {
  max-width: 140px;
  aspect-ratio: 1/1;
}
.join-list li p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.join-list li p a {
  color: #0066b2;
}
.join-wrapper {
  background-image: url("./images/join-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 157px 40px 162px;
}
.rules {
  background: #f7a80b;
  padding: 70px 0px;
}
.rules-wrapper {
  background-image: url("./images/join-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 130px 0px 73px;
  position: relative;
  text-align: center;
}
.rules-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -30px;
  background-image: url("./images/rules-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  max-width: 187px;
  max-height: 205px;
}
.rules-wrapper h2 {
  max-width: 640px;
  margin: 0px auto 46px;
}
.rules-wrapper h2 img {
  object-fit: contain;
}
.rules-wrapper button {
  text-transform: uppercase;
}
.feedback {
  background: #f7a80b;
  padding: 100px 0px;
}
.feedback-wrapper {
  overflow: hidden;
}
.feedback-wrapper h2 {
  max-width: 300px;
  margin: 0px auto;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-wrapper h2 img {
  object-fit: contain;
}
.feedback-slider .swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.feedback-slider .swiper-slide img {
  max-width: 700px;
  width: 100%;
}
.feedback {
  position: relative;
}
.feedback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/fb-decor.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback-slider .btn-swiper {
  background-color: #fff;
  transition: all 0.3s ease;
}
.feedback-slider .btn-swiper svg {
  transition: all 0.3s ease;
  max-width: 60%;
}
.feedback-slider .btn-swiper:hover {
  background-color: var(--cl-primary);
  border-color: transparent;
}
.feedback-slider .btn-swiper:hover svg path {
  fill: #fff;
}
/* lucky */
.lucky {
  background-color: #ffc53d;
  text-align: center;
  background-image: url("./images/spin-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0px;
}
.lucky h2 {
  max-width: 630px;
  margin: 0px auto 20px;
}
.lucky p {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 45px;
}
.lucky-box-wrapper {
  background-image: url("./images/luck-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px 40px 30px;
}
.lucky-box {
  display: grid !important;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
  
}
.lucky-box img {
  cursor: pointer;
}
.lucky-box-wrapper p {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
.lucky-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.lucky-btn button {
  padding: 15px 30px;
  border-radius: 74px;
  font-family: var(--font-primary);
  border: none;
  font-weight: 600;
  font-size: 22px;
  min-height: 76px;
  min-width: 320px;
  cursor: pointer;
}
.lucky-btn button:nth-child(1) {
  background-color: #0066b2;
  color: #fff;
}
.lucky-btn button:nth-child(2) {
  background-color: #c5e2f7;
  color: var(--cl-text);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.popup-wrapper {
  width: 600px;
  background: #fef1e9;
  border-radius: 56px;
  padding: 35px 40px 57px;
  position: relative;
  overflow: hidden;
  text-align: center;
  transform: scale(0.9);
}
.btn-close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cl-primary);
  color: #fff;
  border: 2px solid #fff;
}
.popup-wrapper h3 {
  font-size: 32px;
  color: var(--cl-primary);
  text-align: center;
  max-width: 390px;
  margin: 0px auto;
}
.popup-img {
  max-width: 390px;
  margin: 0px auto;
  width: 100%;
}
.popup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.popup-btn button {
  min-height: 56px;
  max-width: 256px;
  width: 100%;
  border-radius: 82px;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-primary);
  cursor: pointer;
}
.popup-btn button:nth-child(1) {
  border: 2px solid var(--cl-primary);
  color: var(--cl-primary);
  background: transparent;
}
.popup-btn button:nth-child(2) {
  color: #fff;
  background-color: var(--cl-primary);
}
.popup-win .popup-wrapper {
  background-image: url(./images/popup_bg.png);
  background-repeat: no-repeat;
  background-size: 101% 101%;
  max-width: 630px;
  min-height: 822px;
  background-position: -4px 0px;
  transform: scale(0.9);
  height: max-content
}
.popup-win .popup-top {
  background: radial-gradient(
    50.2% 119.94% at 49.8% 50.77%,
    #fffbdd 0%,
    #ffe7a8 100%
  );
  border-radius: 26px;
  box-shadow: 2px 2px 3.3px 0px #e48e62 inset, 0px 4px 4px 0px #d14629;
  padding: 10px 20px;
  border: 2px solid #f26f21;
  z-index: 10;
  position: relative;
}
.popup-win .popup-top h3 {
  text-transform: uppercase;
  background: linear-gradient(182.69deg, #fc631c 36.63%, #ff0004 97.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-family: var(--font-secondary);
  max-width: 100%;
}
.popup-win .popup-top p:nth-child(2) {
  font-size: 20px;
  font-weight: 400;
  color: #f26f21;
  margin-bottom: 5px;
}
.popup-win .popup-top p:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: #f26f21;
}
.popup-main {
  padding-top: 100px;
  position: relative;
}
.popup-main::before {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  background-image: url("./images/win-box-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  mix-blend-mode: screen;
  height: 100%;
  transform: scale(1.15);
}
.popup-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./images/win-box-bg-bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  mix-blend-mode: screen;
  height: 100%;
  max-height: 90px;
  transform: scaleX(1.5);
  z-index: 10;
  opacity: 0.7;
}
.popup-main-gift {
  max-width: 300px;
  max-height: 230px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  padding: 10px;
  z-index: 10;
}
.popup-main-gift::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%) scale(1.48);
  background-image: url("./images/win-box-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.popup-main-gift img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 10;
  position: relative;
}
.popup-main-title {
  color: #fff;
  font-size: 40px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  max-width: 327px;
  margin: 0px auto;
  line-height: 1;
  position: relative;
  padding: 20px 5px;
  margin-top: 15px;
  z-index: 100;
}
.popup-main-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("./images/win-box-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.popup-main-title h4 {
  z-index: 10;
  position: relative;
}
.popup-win-btn {
  font-family: var(--font-primary);
  color: #c1591a;
  font-weight: 700;
  padding: 10px 24px;
  min-height: 52px;
  border-radius: 50px;
  background: linear-gradient(0deg, #fcc41d, #fcc41d),
    linear-gradient(294.9deg, #f2b856 -1.2%, #fcf5b0 146.52%);
  border: 1px solid;
  border-image-source: linear-gradient(
    178.07deg,
    #fefc9b 1.63%,
    rgba(255, 255, 255, 0) 50.02%
  );
  margin-top: 40px;
  font-size: 16px;
  cursor: pointer;
}
.popup-lose .popup-wrapper {
  background-image: url(./images/popup_bg_lose.png);
  background-repeat: no-repeat;
  background-size: 101% 101%;
  max-width: 630px;
  min-height: 750px;
  transform: scale(0.9);
  height: max-content;
}
.popup-lose-img {
  max-width: 438px;
  margin: 40px auto 0px;
  position: relative;
}
.popup-lose-img img {
  z-index: 20;
  position: relative;
}
.popup-lose-img::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  background-image: url("./images/win-box-bg-bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  mix-blend-mode: screen;
  height: 100%;
  max-height: 90px;
  transform: scaleX(1.5);
  z-index: 10;
  opacity: 0.7;
}
.popup-lose .popup-win-btn {
  min-width: 135px;
}

/* footer */
footer {
  background-color: #1a2042;
  border-top: 10px solid #f7941d;
}
footer * {
  color: #fff;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}
.footer-wrapper {
  padding: 50px 0px;
}
.footer-wrapper > div {
  padding-left: 15px;
  padding-right: 15px;
}
.footer-logo {
  max-width: 188px;
}
.footer-social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-social a {
  max-width: 35px;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #fff;
  background-color: var(--cl-primary);
}

.footer-contact {
  margin-top: 20px;
}
.footer-contact h3 {
  font-size: 20px;
  font-weight: 600;
  color: #f27125;
  margin-bottom: 20px;
}
.footer-contact ul li {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 400;
  display: flex;
  gap: 14px;
  align-items: center;
}
.footer-contact ul li i {
  font-size: 20px;
  color: var(--cl-primary);
}
.footer-right h3 {
  font-size: 20px;
  color: #f27125;
  margin-bottom: 30px;
}
.footer-local {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: -15px;
}
.local-item {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0px 15px;
  margin-bottom: 20px;
  font-weight: 300;
}
.local-item h4 {
  text-decoration: underline;
}
.local-item ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.local-item ul li {
  display: flex;
  gap: 5px;
  line-height: 1.3;
}
.local-item ul li span {
  color: var(--cl-primary);
}

/* popup-login */
.popup-action {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}
.popup-action-inner {
  position: relative;
  max-width: 528px;
  padding: 30px;
  padding-top: 40px;
  border-radius: 24px;
  background-color: var(--cl-primary);
  margin: 0px auto;
}
.popup-action-login .popup-action-inner {
  padding: 0;
  max-width: 720px;
  width: 100%;
  margin: 0px auto;
  background: transparent;
}
.popup-action-login-img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.popup-action-login .popup-action-title {
  margin-bottom: 32px;
}
.popup-action-login .popup-action-wrapper button {
  margin-top: 32px;
  background-color: var(--cl-primary);
  color: #fff;
  border-radius: 24px;
}
.popup-action-login p.popup-action-redirect {
  color: #1f1f1f;
}
.popup-action-login p.popup-action-redirect b {
  color: var(--cl-primary);
  font-weight: 500;
}
.popup-action-login .popup-action-wrapper {
  background-color: #fff;
  padding: 25px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  transform: translateY(-4px);
}
.popup-action-login .popup-action-title h3 {
  color: var(--cl-primary);
  padding: 0px;
  font-weight: 700;
}
.popup-action-login .popup-action-title p {
  color: #1f1f1f;
}

.popup-btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cl-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}


.popup-btn-close i {
  color: var(--cl-black);
  transition: all 0.3s ease;
}
.popup-action-title {
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}
.popup-action-title h3 {
  padding: 0px 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.popup-action-title p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.popup-action-wrapper form input,
.popup-action-wrapper form select {
  border-radius: 20px;
  background-color: #fff;
  min-height: 42px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #d9d9d9;
  color: #1f1f1f;
  font-weight: 400;
  margin-bottom: 24px;
  font-family: var(--font-primary);
}

.popup-action-wrapper form input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #1f1f1f;
  font-weight: 400;
}
.popup-action-wrapper form input:last-child {
  margin: 0;
}
.popup-action-wrapper > p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}
p.popup-action-redirect {
  margin-bottom: 0px;
}
.popup-action-redirect b {
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fad156;
  font-weight: 500;
}
.popup-action-redirect b:hover {
  color: var(--cl-black);
}
.popup-action-wrapper button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #fad156;
  min-height: 50px;
  border-radius: 24px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 14px;
  font-family: var(--font-primary);
}
.popup-action-register .popup-action-inner {
  max-width: 720px;
}
@media screen and (max-width: 1279px) {
  .header-menu,
  .header-nav {
    gap: 20px;
  }
  .header-menu li a {
    font-size: 18px;
  }
  .btn-primary {
    font-size: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header-menu,
  .header-nav {
    gap: 0;
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 120%;
    right: 0px;
    width: max-content;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 0px;
    z-index: 100;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header-menu.active {
    display: flex;
  }
  .header-menu li {
    width: 100%;
  }
  .header-menu li a {
    display: flex;
    width: 100%;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 16px;
  }
  .icon-menu {
    display: block;
  }
  .header-btn {
    display: none !important;
  }
  /* main */
  .gift-wrapper {
    padding: 0px 40px;
  }
  .btn-swiper {
    width: 50px;
    height: 50px;
  }
  .lucky-box {
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }
  .lucky-box-wrapper {
    padding-top: 130px;
    padding-bottom: 50px;
  }
  .banner-wrapper .btn-primary {
    padding: 15px 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .sm {
    display: block !important;
  }
  .md {
    display: none !important;
  }
  /* header */
  .header-wrapper {
    padding: 15px 0px;
  }
  .header-logo {
    max-width: 103px;
  }
  /* main */
  .gift {
    padding-bottom: 0px;
  }
  .btn-swiper {
    top: 90%;
  }
  .gift-slider {
    padding-bottom: 100px;
  }
  .gift-slider .swiper-slide img {
    max-width: 100%;
  }
  .gift-slider .swiper-slide {
    padding-top: 15px;
  }
  .gift-bg {
    height: 76%;
  }
  .gift-wrapper {
    padding: 0px 15px 20px 25px;
  }
  .btn-swiper svg path {
    width: 60%;
    fill: #aaa;
  }
  .btn-swiper {
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .btn-swiper svg {
    transition: all 0.3s ease;
    max-width: 60%;
  }
  .btn-swiper:hover {
    background-color: var(--cl-primary);
    border-color: transparent;
  }
  .btn-swiper:hover svg path {
    fill: #fff;
  }
  .spin {
    padding: 20px 0px;
    background-image: url("./images/spin-bg-sm.png");
    background-size: cover;
    background-position: top;
  }
  .spin-main::before,
  .spin-main::after {
    max-width: 100px;
    bottom: auto;
  }
  .spin-main::before {
    right: 70%;
    top: 80%;
    max-height: 100px;
    z-index: 20;
  }
  .spin-main::after {
    left: 70%;
    top: 70%;
    max-height: 200px;
  }
  .btn-primary {
    padding: 10px 16px;
    font-size: 14px;
    min-height: 40px;
  }
  .spin-main {
    margin-bottom: 60px;
  }
  .join-list {
    grid-template-columns: 1fr;
  }
  .join-wrapper {
    background-image: url("./images/join-bg-sm.png");
    padding: 60px 40px 40px;
  }
  .join {
    padding: 20px 0px;
  }
  .join-list li p {
    font-size: 16px;
  }
  .rules-wrapper::before {
    max-width: 100px;
    max-height: 100px;
    top: 80%;
    left: 70%;
  }
  .rules-wrapper {
    padding: 50px 40px 30px;
  }
  .rules-wrapper h2 {
    margin-bottom: 10px;
  }
  .feedback-slider {
    padding-bottom: 60px;
  }
  .btn-swiper.swiper-button-next {
    right: 60px;
  }
  .btn-swiper.swiper-button-prev {
    left: 60px;
  }
  .feedback::before {
    background-image: url("./images/fb-decor-sm.png");
    background-size: contain;
  }
  .feedback-slider .swiper-slide img {
    transform: scale(1.1) translateX(15px);
  }
  .feedback-wrapper h2 {
    margin-bottom: 20px;
  }
  .feedback-wrapper h2 img {
    width: 60%;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-wrapper > div {
    padding: 0;
  }
  .local-item {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0px;
  }
  .footer-local {
    margin-left: 0px;
  }
  .footer-right h3 {
    max-width: 80%;
  }
  
  /* popup */
  .popup-wrapper {
    max-width: 100% !important;
    margin: 0px auto;
    width: 100%;
    min-height: max-content !important;
    border-radius: 32px;
    padding: 30px 25px 25px;
  }

  .lucky-btn button {
    font-size: 14px;
    min-width: auto;
    max-width: 168px;
    padding: 0px;
    min-height: 50px;
    font-weight: 400;
  }
  .lucky-btn {
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .lucky-box-slider {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}
  .lucky-box-wrapper p{
    font-size: 16px;
  }
  .lucky-box-wrapper {
    padding: 40px 20px 20px;
  }
  .lucky h2 {
    margin-bottom: 10px;
  }
  .lucky-box-slider .swiper-pagination {
    bottom : 0px;
  }
  .lucky-box-wrapper {
    background-image: url('./images/luck-bg-sm.png');
  }
  .popup-wrapper h3 {
    font-size: 20px;
  }
  .btn-close-popup {
    top: 10px;
    right: 10px;
  }
  .popup-btn button {
    font-size: 16px;
    font-weight: 500;
  }
  .popup-win .popup-wrapper {
    background-image: url('./images/popup_bg_sm.png');
    padding-bottom: 60px;
  }
  .popup-win .popup-top h3 {
    font-size: 24px;
  }
  .popup-win .popup-top p {
    font-size: 14px !important;
  }
  .popup-win .popup-top {
    padding: 5px;
  }
  .popup-main-gift, .popup-main-title {
    width: 60%;
  }
  .popup-main-title {
    font-size: 20px;
    padding: 10px 0px;
  }
  .popup-main {
    padding-top: 70px;
  }
  .popup-main::after {
    max-height: 50px;
  }
  .popup-win-btn  {
    font-size: 12px;
    min-height: 30px;
    padding: 5px 12px;
    margin-top: 15px;
  }
  .popup-lose-img {
    margin-top: 20px;
  }
  .popup-lose .popup-wrapper {
    padding-top: 35px;
    background-image: url('./images/popup_bg_lose_sm.png');
    background-size: 101% 100%;
    padding-bottom: 30px;
  }
  .popup-lose-img img{
    max-width: 90%;
  }
  .popup-action-wrapper form input, .popup-action-wrapper form select {
    margin-bottom: 10px;
  }
  .popup-btn-close {
    width: 30px;
    height: 30px;
  }
  .popup-action-inner {
    padding: 20px 25px;
  }
  .banner-wrapper {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .banner-right {
    transform: translate(0, 0);
  }
  .banner-wrapper .btn-primary {
    padding: 10px 16px;
    font-size: 14px;
    margin-bottom: 32px;
  }
}
