@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-primary: "Be Vietnam Pro", sans-serif;
  --font-secondary: "Alumni Sans", sans-serif;
  --cl-primary: #f26f21;
  --cl-text: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #FFC53D;
  line-height: 1.2;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--cl-text);
  font-size: 16px;
}
.container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
}
input, button {
  border: none;
  outline: none;
}
img{
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
ul, li {
  list-style: none;
}

.sm {
  display: none !important;
}
.md {
  display: block !important;
}
.btn-primary {
  background-color: var(--cl-primary);
  padding: 24px 36px;
  border-radius: 74px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  font-family: var(--font-primary);
}
/* header */
header {
  background-color: #fff;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.header-logo {
  max-width: 152px;
  flex-shrink: 0;

}
.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}
.icon-menu {
  font-size: 20px;
  color: #181E39;
  cursor: pointer;
  display: none;
}
.header-menu {
  display: flex;
  gap: 41px;
  align-items: center;
  justify-content: flex-end;
}

.header-menu li a {
  color: var(--cl-text);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header-menu li a:hover {
  color: var(--cl-primary)
}
.header-btn {
  padding: 14px 36px;
}
/* main */
.banner {
  width: 100%;
  position: relative;
}
.banner-bg {
  width: 100%;
  height: 100%;
}
.banner-decor {
  position: absolute;
  left: 0;
  top: 50%;
  mix-blend-mode: color-dodge;
  width: 100%;
  z-index: 0;
}
/* gif-slider */
.gift {
  padding: 75px 0px;
  /* background-color: #FFC53D; */
}
.gift-wrapper {
  position: relative;
  padding: 0px 60px 0px 90px;
  z-index: 10;
}
.gift-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: fill;
}
.gift-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.gift-slider .swiper-slide img{
    max-width: 75%;
    margin: 0px auto;
}
.btn-swiper::after {
  display: none;
}
.btn-swiper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-swiper img {
  width: 60%;
}
.spin {
  padding: 75px 0px;
  position: relative;
  background-image: url('./images/spin-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.spin h2 {
  text-align: center;
  max-width: 705px;
  margin: 0px auto;
}
.spin-main {
  position: relative;
  max-width: 860px;
  margin: 0px auto 200px;
  display: flex;
  justify-content: center;

}
.spin-main-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.spin-main-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px;
  z-index: 20;
  cursor: pointer;
}
.spin-main-img {
  z-index: 10;
  position: relative;
  max-width: 810px;
}
.spin-main-img.active {
  animation: spin 4s ease;
  transform: rotate(360deg);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin-main::before, .spin-main:after {
  content: '';
  position: absolute;
  bottom: -200px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.spin-main::before {
  right: 77% ;
  background-image: url('./images/spin-img3.png');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 400px;
  max-height: 316px;
}
.spin-main::after {
  left: 80%;
  background-image: url('./images/spin-img2.png');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 344px;
  max-height: 535px;
}
.join {
  padding: 60px 0px;
  background-color:#F7A80B;
}
.join h2 {
  text-align: center;
  max-width: 640px;
  margin: 0px auto 66px;
}
.join-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.join-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.join-list li span {
  font-family: var(--font-secondary);
  background-color: var(--cl-primary);
  font-size: 24px;
  border-radius: 16px;
  font-weight: 700;
  color: #fff;
  min-height: 29px;
  padding: 0px 24px;
}
.join-list li img {
  max-width: 140px;
  aspect-ratio: 1/1;
}
.join-list li p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.join-list li p a {
  color: #0066B2;
}
.join-wrapper {
  background-image: url('./images/join-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 157px 40px 162px;
}
.rules {
  background: #F7A80B;
  padding: 70px 0px;
}
.rules-wrapper {
  background-image: url('./images/join-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 130px 0px 73px;
  position: relative;
  text-align: center;
}
.rules-wrapper::before {
  content: '';
  position: absolute;
  top:-20px;
  left: -30px;
  background-image: url('./images/rules-decor.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  max-width: 187px;
  max-height: 205px;
}
.rules-wrapper h2 {
  max-width: 640px;
  margin: 0px auto 46px;
}
.rules-wrapper h2 img {
  object-fit: contain;
}
.rules-wrapper button  {
  text-transform: uppercase;
}
.feedback {
  background: #F7A80B;
  padding: 100px 0px;
}
.feedback-wrapper h2 {
  max-width: 300px;
  margin: 0px auto
}
.feedback-wrapper h2 img {
  object-fit: contain;
}
.feedback-slider .swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.feedback-slider .swiper-slide img {
  max-width: 700px;
  
}
.feedback {
  position: relative;
}
.feedback::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/fb-decor.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback-slider .btn-swiper {
  background-color: #fff;
  transition: all 0.3s ease;
}
.feedback-slider .btn-swiper svg  {
  transition: all 0.3s ease;
  max-width: 60%;
}
.feedback-slider .btn-swiper:hover {
  background-color: var(--cl-primary);
  border-color: transparent;
}
.feedback-slider .btn-swiper:hover svg path {
  fill: #fff;
}

/* footer */
footer {
  background-color: #1a2042;
  border-top: 10px solid #f7941d;
}
footer * {
  color: #fff;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}
.footer-wrapper {
  padding: 50px 0px;
}
.footer-wrapper > div {
  padding-left: 15px;
  padding-right: 15px;
}
.footer-logo {
  max-width: 188px;
}
.footer-social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-social a {
  max-width: 35px;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #fff;
  background-color: var(--cl-primary);
}

.footer-contact {
  margin-top: 20px;
}
.footer-contact h3 {
  font-size: 20px;
  font-weight: 600;
  color: #f27125;
  margin-bottom: 20px;
}
.footer-contact ul li {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 400;
  display: flex;
  gap: 14px;
  align-items: center;
}
.footer-contact ul li i {
  font-size: 20px;
  color: var(--cl-primary)

}
.footer-right h3 {
  font-size: 20px;
  color: #f27125;
  margin-bottom: 30px;
}
.footer-local {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.local-item {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0px 15px;
  margin-bottom: 20px;
  font-weight: 300;
}
.local-item h4 {
  text-decoration: underline;
}
.local-item ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.local-item ul li {
  display: flex;
  gap: 5px;
  line-height: 1.3;
}
.local-item ul li span {
  color: var(--cl-primary);
}

@media screen and (max-width: 1279px) {
  .header-menu, .header-nav {
    gap: 20px;
  }
  .header-menu li a {
    font-size: 18px;
  }
  .btn-primary  {
    font-size: 20px;
  }
  
}
@media screen and (max-width: 1023px) {
  .header-menu, .header-nav {
    gap: 0;
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 120%;
    right: 0px;
    width: max-content;
    background-color: var(#fff);
    border-radius: 4px;
    padding: 8px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    display: none;
  }
  .header-menu.active {
    display: flex;
  }
  .header-menu li {
    width: 100%;
  }
  .header-menu li a {
    display: flex;
    width: 100%;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 16px;
  }
  .icon-menu {
    display: block;
  } 
  .header-btn {
    display: none !important;
  }
  
}
@media screen and (max-width: 767px) {
  .sm {
    display: block !important;
  }
  .md {
    display: none !important;
  }
  /* header */
  .header-wrapper {
    padding: 15px 0px;
  }
  .header-logo {
    max-width: 103px;
  }
  
}